
body{
    background-color: #ffe259;
}
.container{
    max-width: 600px;
    height: 150px;
    margin: 100px auto;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,  0, 0, 0.5);
    /* text-align: center; */
    border-radius: 10px;


}
h1{
    color: darkblue;
   

}
input{
    width: 80%;
    padding: 5px;
     border-radius: 8px;
   
   
}
#label{
font-size: larger;
 color: darkblue;
}
.inkms{
color: darkblue;
font-size: larger;
}
