div{
    max-width: 600px;
    margin: 100px auto;
    padding: 5px;
    /* border: 1px solid black; */
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;

}
h1{
    margin-top: 0;
    
}
input{
    width: 70%;
    background-color: lightgray;
    padding: 8px;

}
#btn{
    padding: 10px 0;
    width: 100px; 
    background-color: blue;
    color: white;

}
#btn:hover{
    background-color: darkblue;
}
