*{
  background-color: white; 
  font-weight: 700;

}

div{
    border: 2px solid black;
    background-color: teal;
    /* text-align: center */
    width: 200px;
    height:  250px;
    padding: 10px;
    margin: 100px auto;    

}

h2{
margin-top: 0;
background-color: teal;
color: white;
}
label{
    margin: 5px;
    padding: 5px;
    background-color: teal;
    color: white;
}
input{
 margin: 8px;
}
#emi{
     background-color: teal;
     color: white;
}
