*{
    background-color: yellowgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div{
    width: 300px;
    height: 150px;
    margin: 150px auto;
    border: 2px solid black;
    padding: 20px;
    background-color: white;
    border-radius: 20px;

}
#cou{
background-color: white;
text-align: right;
margin-top: 0px;
}
#que{
background-color: white;
}
#multi{
background-color: white;
color: darkgreen;
width: 75%;
padding:10px;
border-radius: 10px;

}
#buton{
margin-top: 10px;
background-color: green;
color: white;
width: 83%;
padding:8px;
border-radius: 10px;
}